{% extends "successify/base.html" %}

{% block content %}

    <div class="seccion-edicion">
        <h3>{{gasto.name}}</h3>
        <form action="{% url 'successify:editar_gasto' gasto.codigo %}" method="post">
            {% csrf_token %}
            {{ gasto_form.as_p }}
            {{ gastomes_formset.management_form }}

            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

    <form action="{% url "successify:eliminar_gasto" codigo%}" 
        method="post"
        onsubmit="return confirm('¿Borrar {{gasto.name}}?')">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: #d9534f; cursor: pointer; font-size: 15px; padding: 0; text-decoration: none; display: inline-block;">
            🗑 Eliminar gasto
        </button>
    </form>

    <p>&nbsp</p>



    <div class="navegacion-año">
    <a href="?year={{ year_prev }}">« Año {{ year_prev }}</a>
    <span style="font-weight: bold; font-size: 20px; margin: 0 20px;">{{ year_actual }}</span>
    <a href="?year={{ year_next }}">Año {{ year_next }} »</a>
</div>

<hr>

<!--LISTA DE GASTOMESES-->

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); gap: 10px;">
    {% for item in meses_rango %}
        <div class="mes-card"
            onclick="abrirMes('{{ item.mes_obj.codigo }}'{{ gasto }})"
            style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; cursor: pointer; 
            {% if item.mes_obj.cerrado %}
                background-color: #fff9c4; border-color: #fbc02d;
            {% elif item.es_actual %}
                background-color: #e8f4fd; border-color: #2196F3;
            {% endif %}">
            
            {% if item.mes_obj.cerrado %}
            {{ item.nombre }}🔒

            {% else %}
            {{ item.nombre }}

            {% endif %}
            {% if item.mes_obj.cerrado %}
                <div class="info-gasto-cerrado" onclick="event.stopPropagation()">
                    <p style="font-size: 14px; font-weight: bold; margin: 5px 0;">
                        {{ item.gasto_mes.monto|default:"0.00" }}€
                    </p>
                    <span style="font-size: 10px; color: #7f8c8d; font-style: italic;">
                        Balance cerrado</span>
                </div>
            {% else %}
                {% if item.gasto_mes %}
                    <div class="info-gasto" onclick="event.stopPropagation()">
                        <form action="{% url 'successify:nuevo_gasto_mes' gasto.codigo %}" method="post" style="display: flex; gap: 1px; margin-top: 5px;">
                            {% csrf_token %}
                            <input type="hidden" name="year" value="{{ item.mes_obj.year }}">
                            <input type="hidden" name="month" value="{{ item.mes_obj.month }}"> 
                            
                            <input type="number" step="0.01" name="monto" value="{{ item.gasto_mes.monto }}" 
                                style="width: 70%; font-weight: bold; font-size: 11px; padding: 2px;">
                            
                            <button type="submit" title="Guardar" 
                                    style="background: #000; color: white; border: none; width: 30%;
                                    cursor: pointer; display: flex; align-items: center; justify-content: center;">
                                ✔
                            </button>
                        </form>

                        {% if item.gasto_mes.monto != gasto.presupuesto %}
                                <p style="font-size: 11px; color: #064216; margin: 2px 0;">≠ Presupuesto</p>
                        {% endif %}

                        <form action="{% url 'successify:eliminar_gastomes' item.gasto_mes.codigo %}" 
                              method="post" 
                              onsubmit="return confirm('¿Borrar {{item.nombre}}?');">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; color: #d9534f; cursor: pointer; font-size: 11px; padding: 0;">
                                🗑 Eliminar
                            </button>
                        </form>
                    </div>
                {% else %}
                    <div class="sin-gasto" onclick="event.stopPropagation()">
                        <span style="color: gray; font-size: 12px; display: block; margin-bottom: 5px;">Sin registro</span>

                        <form action="{% url 'successify:nuevo_gasto_mes' gasto.codigo %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="year" value="{{ item.mes_obj.year }}">
                            <input type="hidden" name="month" value="{{ item.mes_obj.month }}"> 
                            <input type="hidden" name="monto" value="{{ gasto.presupuesto }}">
                            <button type="submit" style="background: #333; color: white; border: none; padding: 3px; border-radius: 3px; cursor: pointer; font-size: 10px; width: 100%;">
                                Aplicar Presupuesto
                            </button>
                        </form>

                        <form action="{% url 'successify:nuevo_gasto_mes' gasto.codigo %}" method="post" style="margin-top: 5px; display: flex;">
                            {% csrf_token %}
                            <input type="hidden" name="year" value="{{ item.mes_obj.year }}">
                            <input type="hidden" name="month" value="{{ item.mes_obj.month }}"> 
                            <input type="number" step="0.01" name="monto" placeholder="0.00" required 
                            style="width: 70%; font-size: 11px;">
                            <button type="submit" style="background: #000; color: white; border: none; width: 30%; cursor: pointer;">+</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}

        </div>
    {% endfor %}
</div>


{% endblock content %}

